@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@600&family=Oswald:wght@600&display=swap');

html {
    box-sizing: border-box;
  }

body {
    margin: 0;
    min-height: 100vh;
    overflow-y: hidden;
    display: flex;
    align-items: center;
    font-family: 'Oswald', sans-serif;
  }

  /* --------------------- Background Video ---------------------*/

  .bg-video{
    position: fixed;
    right: 0;
    bottom: 0;
    /* width: 100vw;
    height: 100vw;
    max-width: 100%; */
    min-width: 100%;
    min-height: 100%;
  }

  video{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  } 

  .overlay-video{
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(255, 255, 255, .18);
  }


  /*------------------  Container -----------------------*/

  .container{
    min-width: 600px;
    min-height: 340px;
    margin: 0 auto;
    color: #1761d1;
    padding: 25px 50px;
    border-radius: 14px;
    display: flex;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.368);
    z-index: 2;
  }

  .input-section{
    position: relative;
    top: 20px;
  }

  h1{
    font-size: 3.25rem;
    text-align: center;
    margin-top: 0;
    margin-bottom: 10px;
  }

  /* ------ Input Form Styling -------- */

  .form{
    width: 500px;
  }

label{
  font-weight: 700;
  margin-left: 10px;
}

input{
  width: 95%;
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid lightgrey;
  border-radius: 20px;
  background: #fff;
  outline: none;
  font-weight: lighter;
}

/* ------- Buttons Styling -----------*/

/* button{
  
} */

button {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  background: transparent;
  padding: 0;
  font-size: inherit;
  font-family: inherit;
 }
 
 button.learn-more {
  width: 12rem;
  height: auto;
 }
 
 button.learn-more .circle {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: relative;
  display: block;
  margin: 0;
  width: 3rem;
  height: 3rem;
  background: #1761d1;
  border-radius: 1.625rem;
 }
 
 button.learn-more .circle .icon {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  background: lightgrey;
 }
 
 button.learn-more .circle .icon.arrow {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  left: 0.625rem;
  width: 1.125rem;
  height: 0.125rem;
  background: none;
 }
 
 button.learn-more .circle .icon.arrow::before {
  position: absolute;
  content: "";
  top: -0.29rem;
  right: 0.0625rem;
  width: 0.625rem;
  height: 0.625rem;
  border-top: 0.125rem solid #fff;
  border-right: 0.125rem solid #fff;
  transform: rotate(45deg);
 }
 
 button.learn-more .button-text {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0.75rem 0;
  margin: 0 0 0 1.85rem;
  color: #282936;
  font-weight: 700;
  line-height: 1.6;
  text-align: center;
  text-transform: uppercase;
 }
 
 button:hover .circle {
  width: 100%;
 }
 
 button:hover .circle .icon.arrow {
  background: #fff;
  transform: translate(1rem, 0);
 }
 
 button:hover .button-text {
  color: #fff;
 }

 /*-------------- CountDown Section ----------------*/

 ul{
   margin-left: -45px;
 }

 li{
   display: inline-block;
   text-align: center;
   padding: 20px;
   font-size: 2.5rem;
   list-style-type: none;
   text-transform: uppercase;
 }

li span{
  display: block;
  font-size: 80px;
  text-align: center;
  font-weight: 600;
}

.countdown-header{
  padding-bottom: 30px;
}


/* ------------- After Completion Section --------------*/


.countdown-complete{
  position: relative;
  top: 60px;
}

.countdown-complete_title{
  animation: complete 4s infinite;
}

@keyframes complete{
  0%{
    color:rgb(24, 77, 138);
  }

  25%{
    color:rgb(214, 66, 21);
  }

  50%{
    color:rgb(24, 77, 138);
    transform: scale(1.5);
  }

  75%{
    color:rgb(223, 100, 18);
  }

  100%{
    color:rgb(24, 77, 138);
  }
}


p {
  position: relative;
  text-transform: uppercase;
  font-size: 2.5rem;
  letter-spacing: 6px;
  overflow: hidden;
  background: linear-gradient(90deg, rgb(24, 77, 138), #fff, rgb(192, 132, 20));
  background-repeat: no-repeat;
  background-size: 80%;
  animation: animate 3s linear infinite;
  -webkit-background-clip: text;
  -webkit-text-fill-color: rgba(99, 53, 10, 0);
}

@keyframes animate {
  0% {
    background-position: -500%;
  }
  100% {
    background-position: 500%;
  }
}

@media screen  and (max-width: 1024px){
  video{
    object-fit: cover;
    object-position: 70%;
    margin-top: -1px;
}

  .bg-video{
    height: 100vh;
    width: 100vw;
  }

  .container{
    min-width: unset;
    width: 95vw;
    min-height: 245px;
    padding: 20px;
    margin: 10px;
  }

  .input-section{
    top: unset;
  }

  .countdown-complete{
    position: relative;
    top: 10px;
  }

  .form{
    width: unset;
  }

  input{
    width: 93%;
  }

  h1 {
    font-size: 20px;
  }

  li {
    font-size: 15px;
  }

  li span {
    font-size: 40px;
  }
}